.banner {
    background-size: cover;
    background-position: center;
    padding: 200px 0;
  }
  
  .banner h1 {
    color: black;
  }
  
  .banner p {
    color: black;
    opacity: .7;
    font-size: 20px;
  }
  